<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>newgame.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,74},{389,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,93}}</string>
			<key>sourceSize</key>
			<string>{389,93}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1},{41,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,45}}</string>
			<key>sourceSize</key>
			<string>{41,45}</string>
		</dict>
		<key>pop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,168},{454,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{454,278}}</string>
			<key>sourceSize</key>
			<string>{454,278}</string>
		</dict>
		<key>rate.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,74},{389,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,93}}</string>
			<key>sourceSize</key>
			<string>{389,93}</string>
		</dict>
		<key>resume.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,168},{389,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,93}}</string>
			<key>sourceSize</key>
			<string>{389,93}</string>
		</dict>
		<key>sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,1},{54,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,46}}</string>
			<key>sourceSize</key>
			<string>{54,46}</string>
		</dict>
		<key>star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,447},{425,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,216}}</string>
			<key>sourceSize</key>
			<string>{425,216}</string>
		</dict>
		<key>star_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>star_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>star_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>star_r.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>star_y.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>ui1.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,1},{142,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,43}}</string>
			<key>sourceSize</key>
			<string>{142,43}</string>
		</dict>
		<key>ui2.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,1},{142,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,43}}</string>
			<key>sourceSize</key>
			<string>{142,43}</string>
		</dict>
		<key>ui3.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,1},{142,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,43}}</string>
			<key>sourceSize</key>
			<string>{142,43}</string>
		</dict>
		<key>save_exit.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,262},{389,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,93}}</string>
			<key>sourceSize</key>
			<string>{389,93}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>type</key>
		<string>packer</string>
		<key>realTextureFileName</key>
		<string>star_packer.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cfaf52eb1eb41c7531bf2d0be3f50f2e$</string>
		<key>textureFileName</key>
		<string>star_packer.png</string>
	</dict>
</dict>
</plist>